main {
    padding: 20px;
}


body {
    background-color: #141414;
    font-family: 'Trebuchet MS', cursive;
    color: #eed750;
    margin: 0;
}

a {
    color: #e9b64f;
}

header {
    background-color: #272727;
    /* Navy blue */
    color: #ffdd00;
    /* Bright yellow */
    padding: 10px;
    text-align: center;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #141414;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
}

.marquee h1 {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;

    /* Starting position */
    transform: translateX(100%);

    /* Apply animation to this element */
    animation: marquee 20s linear infinite;
}

    
/* Move it (define the animation) */
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

section {
    margin: 0;
    padding: 0;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1%;
}

.project-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    max-width: 30%;
    max-height: 100%;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
.project-item:hover {
    overflow: visible;
}

.project-item .project-image {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.project-item:hover .project-image {
    transform: scale(1.25);
    transition: transform 0.3s ease-in-out;
}

.project-item .text-header {
    z-index: 2;
    max-width: 100%;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    transition: transform 0.3s ease-in-out;
}

.project-item:hover .text-header {
    position: relative;
    text-align: center;
    background-color: #00000075;
    color: #ffffff;
    transform: translateY(50%);
    transition: transform 0.3s ease-in-out;
}

.project-item .text {
    z-index: 2;
    overflow: hidden;
    text-align: center;
    white-space: pre;
    max-width: 100%;
    text-overflow: ellipsis;
    transition: transform 1s ease-in-out;
}

.project-item:hover .text {
    position: relative;
    overflow: visible;
    white-space: normal;
    max-width: max-content;
    height: fit-content 25%;
    background-color: #00000075;
    color: #ffffff;
    transform: translateY(-25%);
    transition: transform 1s ease-in-out;
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform-origin: 50% 50%;
    border-radius: 2%;
}

[data-type][data-type="enlarge"].enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(0.85);
    z-index: 3;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.status {
    font-weight: bolder;
    background-color: #000000;
    color: #ffffff;
}

.status-released {
    font-weight: bolder;
    background-color: #000000;
    color: #00c20d;
}

.status-unreleased {
    font-weight: bolder;
    background-color: #000000;
    color: #c24400;
}

footer {
    background-color: #808080;
    /* Gray */
    color: #fff;
    padding: 10px;
    text-align: center;
}